# -----------------------------------------------
# ----  GitIgnore  ------------------------------
# ----  https://git-scm.com/docs/gitignore  -----
# -----------------------------------------------

# Create gitignore files automatically for with
# https://www.toptal.com/developers/gitignore 

# -----------------------------------------------
# ----  IDEs  -----------------------------------
# -----------------------------------------------

.idea/
.vscode/

# -----------------------------------------------
# ----  Documentation  --------------------------
# -----------------------------------------------

documentation/site

# -----------------------------------------------
# ----  Kernel ----------------------------------
# -----------------------------------------------

target/
proof

**/Cargo.lock
**/*.rs.bk

# -----------------------------------------------
# ----  Program Outputs -------------------------
# -----------------------------------------------
clause*.png
average.png
dnf*.png
*.png
output

# -----------------------------------------------
# ----  Data  -----------------------------------
# -----------------------------------------------
data/*.json
